@font-face {
  font-family: "roboto";
  src: url("/fonts/roboto-bold-webfont.woff2") format("woff2"), url("/fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("/fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("/fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a,
b {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", sans-serif;
}

:root {
  --container-padding: 39px;
}

.container {
  max-width: 1135px;
}

.btn {
  background: #3f2aff;
  border-radius: 20px;
  font-weight: 700;
  color: #fff;
}

.title {
  font-weight: bold;
  font-size: 40px;
  line-height: 100%;
}

.burger {
  display: none;
}

/* Header */
.header {
  background: #3f2aff;
  color: #fff;
  font-size: 18px;
  line-height: 21px;
}

.header__logo {
}

.header__nav {
  margin: 0;
  padding: 0;
}

.header__info {
  height: 80px;
}

.header__item:last-child,
.header__item:first-child {
}

/* Hero */
.hero {
  background: radial-gradient(44.07% 44.07% at 67.78% 55.93%, #555681 0%, #212133 100%);
  color: #fff;
}

.hero__color {
}

.hero__info {
  padding-top: 127px;
  padding-bottom: 127px;
}

.hero__title {
  font-weight: bold;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 29px;
}

.hero__description {
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 65px;
}

.hero__btn {
  padding: 24px 75.5px;
  font-size: 18px;
  line-height: 21px;
}

.hero__img {
  background-size: contain;
  max-width: 645px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Benefits */
.benefits {
  padding: 81px 0px;
}

.benefits__info {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}

.benefits__img {
  position: absolute;
  background: url("../img/benefits/benefits-texture.jpg") 0 0 / contain no-repeat;
  width: 160px;
  height: 142px;
  top: 25px;
  left: 0;
}

.benefits__text-block {
  padding-left: 190px;
}

.benefits__title {
  margin-bottom: 19px;
  max-width: 450px;
}

.benefits__text {
  font-size: 16px;
  max-width: 585px;
  line-height: 150%;
  color: #666;
}

.benefits__item {
  position: relative;
}

.benefits__icon {
  margin-right: 31px;
}

.benefits__description {
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  color: #666;
}

/* Info */

.info {
  background: #212133;
  color: #fff;
  padding: 70px 0px 45px 0px;
}

.info__title {
  margin-bottom: 25px;
}

.info__elem {
  margin-bottom: 25px;
}

.elem__img {
  overflow: hidden;
  margin-bottom: 25px;
  border-radius: 25px 25px 0px 0px;
}

.elem__image {
  width: 100%;
  height: 100%;
}

.elem__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 9px;
}

.elem {
}

.elem__description {
  font-size: 16px;
  line-height: 150%;
  color: #85859b;
}

/* Description */
.description {
  padding: 75px 0px 85px 0;
}

.description__row {
  margin-bottom: 30px;
}

.description__title {
  margin-bottom: 24px;
}

.description__item {
  background: #edf0f9;
}
.item {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.item__img {
  width: 100%;
  height: 180px;
  margin-bottom: 30px;
}

.item__img-1 {
  background: url("../img/cources/cources-1.jpg") center top no-repeat;
}
.item__img-2 {
  background: url("../img/cources/cources-2.jpg") center top no-repeat;
}
.item__img-3 {
  background: url("../img/cources/cources-3.jpg") center top no-repeat;
}
.item__img-4 {
  background: url("../img/cources/cources-4.jpg") center top no-repeat;
}

.item__body {
  padding-left: 30px;
  height: 270px;
  position: relative;
}

.item__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 10px;
}

.item__description {
  font-size: 16px;
  line-height: 150%;
  color: #666;
  padding-bottom: 30px;
  padding-right: 30px;
}

.item__btn {
  position: absolute;
  bottom: 30px;
  padding: 20.5px 59px;
}

.item__time {
  position: absolute;
  top: 13px;
  right: 2px;
  color: #fff;
  text-align: center;
}

.item-time__icon {
  display: inline-block;
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("../img/benefits/time-clock.svg") 0 0 no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
}

.item-time__info {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  padding-left: 31px;
  padding-top: 3px;
}

.footer__social {
  align-items: center;
}

/* Footer */
.footer {
}
.footer__bg {
  background: #2e2b44;
}

.footer__social {
  height: 80px;
}

.footer__image {
  text-align: center;
  margin: 3px 0px;
}

@media (max-width: 1110px) {
}

@media (max-width: 769px) {
  .container {
    padding-left: 39px;
    padding-right: 39px;
  }
  .hero__title {
    font-size: 50px;
    margin-bottom: 17px;
  }
  .hero__description {
    font-size: 18px;
    width: 345px;
    margin-bottom: 65px;
  }
  .hero__info {
    padding-bottom: 135px;
  }
  .hero__img {
    width: 350px;
  }

  .benefits {
    padding-bottom: 75px;
  }
  .benefits__img {
    width: 220px;
    height: 220px;
  }
  .benefits__text-block {
    padding-left: 240px;
  }
  .benefits__title {
    margin-bottom: 17px;
  }
  .benefits__item {
    flex-direction: column;
  }
  .benefits__icon {
    margin: 0 0 11px 0;
  }
  .benefits__description {
  }

  .info {
    padding-top: 73px;
  }

  .item__body {
    height: 345px;
  }
}

@media (max-width: 767.5px) {
  .hero__img {
    width: 290px;
  }
}

@media (max-width: 750px) {
  .hero__img {
    display: none;
  }
}

@media (max-width: 625px) {
  .item__body {
    width: 100%;
  }
  .item__btn {
    width: 75%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 577px) {
  .header__info {
    height: 133px;
  }

  .hero__row {
    display: block;
  }
  .hero__info {
    padding-right: 0;
    padding-top: 78px;
  }
  .hero__title {
  }

  .benefits {
    padding-bottom: 55px;
  }
  .benefits__img {
    width: 150px;
    top: 0;
  }
  .benefits__text-block {
    padding-left: 170px;
  }

  .info {
    padding-bottom: 45px;
  }
  .elem__img {
    margin-bottom: 30px;
    border-radius: 38px 38px 0px 0px;
  }

  .item__img {
    margin-bottom: 27px;
  }
  .item__title {
    margin-bottom: 5px;
  }
  .item__body {
    height: 442px;
  }
  .benefits__item {
    flex-direction: column;
  }
  .benefits__icon {
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 570px) {
  .header__nav {
    display: none;
  }

  .burger {
    display: block;
    position: relative;
    padding: 7px 0;
    text-align: center;
    width: 21px;
  }
  .burger__icon {
    display: block;
    width: 21px;
    height: 2px;
    background-color: #fff;
  }
  .burger__icon:after,
  .burger__icon:before {
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
  }
  .burger__icon:after {
    top: 0;
    left: 0;
  }
  .burger__icon:before {
    bottom: 0;
    left: 0;
  }
}

@media (max-width: 560px) {
  .benefits__img {
    display: none;
  }
  .benefits__text-block {
    padding: 0;
  }
}

@media (max-width: 450px) {
  .hero__title {
    font-size: 40px;
  }
  .hero__description {
    font-size: 20px;
  }
}

@media (max-width: 400px) {
  .header__info {
    height: 80px;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .hero__title {
    font-size: 30px;
  }

  .title {
    font-size: 20px;
  }

  .benefits__text {
    font-size: 16px;
  }

  .benefits__description {
    font-size: 16px;
  }

  .hero__info {
    padding: 49px 15px;
  }

  .hero__title {
    margin-bottom: 5px;
  }

  .hero__description {
    font-size: 16px;
    max-width: 290px;
    line-height: 130%;
    margin-bottom: 45px;
  }

  .hero__btn {
    padding: 20.5px 47px;
  }

  .benefits {
    padding: 50px 0px 20px 0;
  }
  .benefits__item {
    flex-direction: row;
  }
  .benefits__icon {
    margin: 0px 20px 30px 0px;
  }

  .info {
    padding: 50px 0px 20px 0px;
  }

  .description {
    padding: 50px 0px 20px 0px;
  }

  .item__body {
    height: 400px;
  }

  .description__row {
    margin-bottom: 0;
  }

  .item__margin-bottom {
    margin-bottom: 30px;
  }
  .header__logo {
    width: 92px;
  }
}
